<div class="container">
    <div class="register-box">
      <h2>Registrazione</h2>
      <form #regstrazioneForm="ngForm" (ngSubmit)="onRegistration(regstrazioneForm)">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required ngModel>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required ngModel>
        </div>
        <div class="form-group">
          <label for="firstName">Nome:</label>
          <input type="text" id="firstName" name="firstName" required ngModel>
        </div>
        <div class="form-group">
          <label for="lastName">Cognome:</label>
          <input type="text" id="lastName" name="lastName" required ngModel>
        </div>
        <div class="form-group">
          <label for="dateOfBirth">Data di nascita:</label>
          <input type="date" id="dateOfBirth" name="dateOfBirth" ngModel>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" ngModel>
        </div>
        <div class="form-group form-group-full">
          <label for="about">About:</label>
          <textarea id="about" name="about" rows="5" placeholder="Qualche cosa su dite, cosa ti piace fare? le tue passioni da viaggio?" ngModel></textarea>
        </div>
        <div class="form-group">
          <label for="city">City:</label>
          <input type="text" id="city" name="city" ngModel>
        </div>
        <div class="form-button">
          <p-button type="Submit" label="Registrati" [disabled]="!regstrazioneForm.valid" icon="pi pi-user-plus"></p-button>
        </div>
        <div class="form-foot">
          <p>Possiedi già un account? <a routerLink="/login">Accedi qui</a></p>
        </div>
      </form>
    </div>
  </div>
  
