body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

app-chat {
    height: 100000000px;
}

#chat-page {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.users-list {
    width: 33.33%;
    height: 100%;
    background-color: #01890A;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.users-list-container {
    flex: 1;
    overflow-y: auto;
}

.users-list h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.users-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    cursor: pointer;
}

.user-item.active {
    background-color: #cdebff;
    color: #4f4f4f;
    padding: 10px;
    border-radius: 5px;
}

.user-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-item span {
    font-weight: bold;
}

.separator {
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
}

.chat-area {
    width: 66.66%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 100%;
}

.chat-content {
    flex: 80%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#chat-messagess {
    flex: 1;
    height:85%;
    display: flex;
    flex-direction: column;
}
#selUser {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}
#chat-mess {
    height:100%;
}
.message {
    margin-bottom: 5px;
    border-radius: 5px;
    height:80%;
}

.message p {
    padding: 0 12px;
    border-radius: 15px;
    word-wrap: break-word;
}

.sender {
    background-color: #3498db;
    color: #fff;
    align-self: flex-end;
}

.receiver {
    background-color: #ecf0f1;
    color: #333;
    align-self: flex-start;
}

.message-input {
    flex: 20%;
    display: flex;
    align-items: center;
}

.message-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.message-input button {
    padding: 10px;
    border: none;
    background-color: #01890A;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}

a.logout {
    color: #fff;
    text-decoration: none;
}
