:host ::ng-deep .p-menubar {
    background: linear-gradient(90deg, #8ea4d8 0%, #0b17bb 100%);
    border-radius: 0%;
  
  }
  
  :host ::ng-deep .menu-container {
    display: flex;
    align-items: center;
  }
  
  :host ::ng-deep .p-menubar .menu-container a {
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    margin-left: auto;
  }
  
  :host ::ng-deep .p-menubar .menu-container a:hover {
    background-color: #3b5998;
    color: #ffffff;
    border-radius: 10px;
  }
  
  :host ::ng-deep .p-menubar .menu-container a i {
    margin-right: 0.5rem;
  }
  
  :host ::ng-deep .p-menubar .menu-container a span {
    font-size: 1rem;
  }

  :host ::ng-deep .active {
    background-color: #1d3b8b; 
    color: #ffffff !important;
    border-radius: 10px;
  }
  