body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
  }
  
  form h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
  }
  
  form input,
  form textarea,
  form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
  }
  
  .form-row div {
    width: 48%;
  }
  
  form textarea {
    resize: vertical;
  }
  
  form input[type="date"]::placeholder,
  form textarea::placeholder {
    color: #aaa;
  }
  
  form input:focus,
  form textarea:focus,
  form select:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .form-button {
    width: 100%;
    text-align: center;
  }
  